{% extends "base_card.html" %}
{% load crispy_forms_tags %}

{% block header %}
Welcome to MMR Stock Manager
{% endblock %}

{% block prebody %}
{% if "reason" in request.GET %}
<div class="alert alert-danger" role="alert">
  {% if "anonymous" == request.GET.reason %}
    Login to view your favorite items and your dashboard
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block body %}
<form action="{% url 'core:login' %}" method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="d-flex">
    <input width="100%" class="btn btn-primary ms-auto" type="submit" value="Save">
  </div>
</form>
{% endblock %}