{% extends "base.html" %}
{% load static core_extra %}

{% block title %} MMR Stock | Dashboard {% endblock %}

{% block content %}

<div
  class="row row-cols-md-2 m-3 d-flex justify-content-center align-items-center full-height" style="min-width: 1200px">
  <div class="col-lg-5" style="min-width: 200px;">
    <div class="card p-4 pe-0 ps-0 full-height" style="max-width: 650px">
      <div class="card-title">
        <h4 class="row d-flex justify-content-center pb-2">Components' Uses</h4>
      </div>
      <div class="card-body overflow-auto">
          {% for use in uses %}
            {% include "use_card.html" %}
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="card p-4 full-height bg-warning-subtle" style="min-width: 200px; max-width: 1000px">
      <div class="card-title">
        <h4 class="row d-flex justify-content-center">Incoming requests</h4>
        <form method="get">
          <input onchange="this.form.submit()" class="form-check-input" type="checkbox" value="" id="unapprovedFilterCheckbox" name="todo" {% if todo %} checked {% endif %}>
          <label class="form-check-label" for="unapprovedFilterCheckbox"> Not yet approved </label>
        </form>
      </div>
      <div class="card-body overflow-auto" id="request-container">
          {% for request in requests %}
            {% include "request_card.html" %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>


<style>
.full-height {
  height: calc(100vh - 120px);
}
</style>

<script>
  {% include 'dash_controller.js' %}
</script>

{% endblock %}