{% extends "base.html" %}
{% load static core_extra %}

{% block title %} MMR Stock | Dashboard {% endblock %}

{% block content %}

<div class="row row-cols-md-2 m-3 d-flex justify-content-center align-items-center full-height">
  <div class="col-lg-5" style="min-width: 512px">
    <div class="card p-4 pe-0 ps-0 full-height">
      <div class="card-title">
        <h4 class="row d-flex justify-content-center pb-2">Components' Uses</h4>
      </div>
      <div class="card-body overflow-auto">
        <form class="container">
          {% for use in uses %}
            {% include "use_card.html" %}
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="col-lg-7" style="min-width: 512px">
    <div class="card p-4 full-height bg-warning-subtle">
      <div class="card-title">
        <h4 class="row d-flex justify-content-center pb-2">Incoming requests</h4>
      </div>
      <div class="card-body overflow-auto">
        <form class="container">
          {% for request in requests %}
            {% include "request_card.html" %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>


<style>
.full-height {
  height: calc(100vh - 120px);
}
</style>

<script>
  {% include 'dash_controller.js' %}
</script>

{% endblock %}