<style>
.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background: rgba(0, 0, 0, 0.1);
}

.card-image:hover .image-overlay {
  opacity: 1;
}
</style>