{% load static %}

<div
  class="shadow-sm card text-bg-light component-card"
  style="width:200px"
  onclick="onClickComponentCard(this, {{id}})"
  >
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
    <i class="bi bi-lock-fill"></i>
  </span>
  {% include 'star.html' with position='bottom' %}

  <div class="card-image">
    <img
      class="card-img-top pe-5 ps-5 pd-1 pt-2"
      src="{% static img %}"
      alt="{{ name }}"
    >
    <div class="image-overlay"></div>
  </div>
  <div class="card-body pt-1">
    <p class="card-text p-0">
      <div class="fw-bold flex-fill">
        {{ name|slice:":60" }}
        {% if name|length > 60 %} ...
        {% endif %}
      </div>

      <div class="progress mt-2">
        <div class="progress-bar" role="progressbar" style="width: 25%"></div>
      </div>

      <hr>

      Code: {{ code }} <br>
      Quantity: {{ quantity }}
    </p>

  </div>
</div>

{% include 'card_overlay.scss' %}