{% load core_extra %}

<div class="modal fade" id="componentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="me-3" id="picture" height="64px">

        <h3 class="modal-title" id="title"> </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="form-group" id="fieldsContainer">

          {% for field in modal_textual_fields %}
          <div class="row mb-1">
            <label class="col-sm-2 col-form-label"> {{ field|snake_to_capitalized }} </label>
            <div class="col-sm-10">
              <input readonly type="text" class="form-control-plaintext" id="{{field}}Value">
            </div>
          </div>
          {% endfor %}

          {% for field in modal_numeric_fields %}
          <div class="row mb-1">
            <label class="col-sm-2 col-form-label"> {{ field|snake_to_capitalized }} </label>
            <div class="col-sm-10">
              <input readonly type="number" class="form-control-plaintext" id="{{field}}Value">
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="modal-footer">
        <button id="delBtn" type="button" class="btn btn-outline-danger" onclick="onClickDel(this)">
          <i class="bi bi-trash"></i>
        </button>
        <button id="editBtn" type="button" class="btn btn-outline-secondary me-auto" onclick="onClickEdit(this)">
          <i class="bi bi-pencil"></i>
        </button>
        <button id='cancelBtn' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id='saveBtn' type="button" class="btn btn-primary" onclick="onClickSave(this)">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  var modal;
  var fields;
  const State = Object.freeze({
    VIEW: 'view',
    EDIT: 'edit'
  });
  var state = State.VIEW;

  function toEditMode () {
    state = State.EDIT;

    fields.forEach(
      field => modal
        .find(`#${field}Value`)
        .attr('class', 'form-control')
        .attr('readonly', false)
    );

    ['delBtn', 'editBtn'].forEach(id => modal.find(`#${id}`).hide());
    $('#saveBtn').attr('class', 'btn btn-info')
  }

  function toViewMode () {
    fields.forEach(
      field => modal
        .find(`#${field}Value`)
        .attr('class', 'form-control-plaintext')
        .attr('readonly', true)
    );

    ['delBtn', 'editBtn'].forEach(id => modal.find(`#${id}`).show());
    $('#saveBtn').attr('class', 'btn btn-primary')

    state = State.VIEW;
  }
  
  function onClickComponentCard (caller, id) {
    modal = $('#componentModal');
    modal.modal('show');
    
    let onResponse =
    $.ajax({
      url: `/components/${id}`,
      type: 'GET',
      success: dynPopulate
    });
  }
  
  function dynPopulate (json_response) {
    fields = Object.keys(json_response);

    Object.entries(json_response).forEach(
      ([field, value]) => modal.find(`#${field}Value`).val(value)
    );
    
    modal.find('#title').html(json_response.code);
    modal.find('#picture').attr('src', json_response.picture);
    toViewMode();
  }

  function onClickEdit (caller) {
    toEditMode();
  }

  function onClickSave (caller) {
    toViewMode();
  }

  function onClickDel (caller) {

  }
</script>