<div
  class="shadow-sm card flex-row mb-2 text-bg-light align-middle"
  onclick="onClickComponentCard(this)"
  >
  {% load static %}
  <div class="card-image">
    <img
      class="card-img-left align-middle p-1"
      src="{% static img %}"
      title="{{ name }}"
      width="128px"
      height="128px"
    >
    <div class="image-overlay"></div>
  </div>
  <div class="card-body p-1 d-flex align-items-center">
    <p class="card-text p-0 m-0">
      <div class="fw-bold"> {{ name|slice:":60" }} {% if name|length > 60 %} ... {% endif %} </div>
    </p>
  </div>
</div>

{% include 'card_overlay.scss' %}
