{% extends "base.html" %}

{% block title %} MMR Stock | Home {% endblock %}

{% block content %}
<div class="row row-cols-md-2 m-3 d-flex">
  <!-- Left column -->
  <div class="fill-width" style="min-width: 512px">
    <div class="card p-4 full-height">
      <div class="card-body">
        Test
      </div>
    </div>
  </div>

  <!-- Right column -->
  <div style="width: 512px">
    <div class="card full-height bg-info-subtle">
      <h3 class="card-header ">
        For you {% load static %} <img src="{% static 'magic.png' %}">
      </h3>
      <div class="card-body">
        {% for r in recommended %}
        {% include "component_card_minimal.html" with name=r.name img=r.picture %}
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>

<style>
.full-height {
  height: calc(100vh - 120px);
}

.fill-width {
  width: calc(100vw - 550px);
}
</style>

{% endblock %}