{% extends "base.html" %}
{% load static core_extra %}

{% block title %} MMR Stock | {{pagename}} {% endblock %}

{% block content %}
{% include 'component_modal.html' %}

<div class="row m-3 d-flex mt-5" style="min-width: 1200px">
  <!-- Left column -->
  <div class="fill-width d-flex justify-content-center" style="min-width: 800px;">
    <div class="card p-4 full-height" style="max-width: 1500px;">
      <button
        type="button"
        class="position-absolute top-0 start-50 translate-middle badge btn btn-primary {% if not user.is_staff %} disabled opacity-50 {% endif %}"
        onclick="onClickAdd(this)"
      >
        <div class="h2 m-0 p-0">
          New <i class="bi bi-plus p-0"> </i>
        </div>
      </button>
      <div class="card-title mt-3">
        <!-- Searchbar -->
        <form class="d-flex mb-1 sticky-top row g-2" role="search" method="get">
          <div class="col col-md-4">
            <input name="query" class="form-control" type="search" placeholder="Search a component" value="{{query}}">
          </div>
          <div class="col col-md-3">
            <input name="min" class="form-control" type="number" placeholder="Min stock qty" value="{{min_quantity}}">
          </div>
          <div class="col col-md-3">
            <input name="max" class="form-control" type="number" placeholder="Max stock qty" value="{{max_quantity}}">
          </div>
          <div class="col col-md-2">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </div>
        </form>
        <div class="row ps-3 pt-1"> {{ page_obj.paginator.count }} results found | Page {{page_obj.number}} </div>
      </div>
      <div class="card-body overflow-auto">
        <div class="container">
          <div class="row row-cols-auto g-3">
            {% for c in object_list %}
              <div class="col d-flex component-{{c.id}}">
              {% include "component_card.html" with preferred=c|is_in:favorite_components component=c %} 
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <ul class="pagination mt-2 mb-0 justify-content-center">
        <li class="page-item">
          {% if page_obj.has_previous %}
            <a class='page-link' href="?page={{ page_obj.previous_page_number }}">Prev</a>
          {% endif %}
        </li>
        <li class="page-item">
          {% if page_obj.has_next %}
            <a class='page-link' href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  {% if pagename == 'Home' %}
    <!-- Right column -->
    <div class="sidepanel">
      <div class="card full-height bg-info-subtle">
        <h3 class="card-header">
          U may want to start from <img src="{% static 'magic.png' %}">
        </h3>
        <div class="card-body overflow-auto">
          {% for r in recommended %}
            {% include "component_card_minimal.html" with preferred=r|is_in:favorite_components component=r %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  </div>

<style>
.full-height {
  height: calc(100vh - 150px);
}

.sidepanel {
  width: 400px;
}

{% if pagename == 'Home' %}
.fill-width {
  width: calc(100vw - 450px);
}
{% else %}
.fill-width {
  width: 100vw;
}
{% endif %}
</style>

<script>
  {% include 'home_controller.js' %}
</script>

{% endblock %}