{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} MMR Stock | Login {% endblock %}

{% block content %}

<div class="row row-cols-md-2 m-3 d-flex justify-content-center align-items-center full-height">
  <div class="card p-4 card-height" style="min-width: 200px; max-width: 700px">
    <div class="card-title">
      <h4 class="row d-flex justify-content-center pb-2">Welcome to MMR Stock Manager</h4>
    </div>
    <div class="card-body overflow-auto">
      <form action="{% url 'core:login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary " type="submit" value="Login"></form>
      </form>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
  </div>
</div>


<style>
.full-height {
  height: calc(100vh - 120px);
}

.card-height {
  height: calc(75vh - 120px);
}
</style>


{% endblock %}