{% load static core_extra %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <style>{% include 'card_overlay.scss' %}</style>

  {% block head %} {% endblock %}

  <title> MMR Stock | {{pagename}} </title>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-body-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:home' %}"> MMR Stock Manager </a>
      
      <h5 class="navbar-nav abs">
        {{pagename}}
      </h5>

      <div class="navbar p-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:home' %}">
              <img width="48" class="rounded img-thumbnail" title="Home" src="{% static 'home.png' %}">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:favorites' %}">
              <img width="48" class="rounded img-thumbnail" title="Favorites" src="{% static 'star.png' %}">
            </a>
          </li>

          <li class="nav-item">
            {% if user.profile.has_notification %}
            <span class="p-2 bg-danger rounded-circle" style="position:relative;float:right; margin-bottom:-10px; clear:both;"></span>
            {% endif %}
            <a class="nav-link" href="{% url 'dash:mailbox' %}">
              <img width="48" class="pr-5 rounded img-thumbnail" title="Mailbox" src="{% static 'mailbox.png' %}">
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if not user.is_superuser %} disabled opacity-50 {% endif %}" href="{% url 'dash:' %}">
              <img width="48" class="pr-5 rounded img-thumbnail" title="Dashboard" src="{% static 'dashboard.png' %}">
            </a>
          </li>
        </ul>
        
        <div class="vr"></div>
        
        <div class="navbar-nav">
          <a class="nav-link" href="
            {% if user.is_authenticated %}
              {% url 'core:profile' %}
            {% else %}
              {% url 'core:login' %}
            {% endif %}
          ">
            {% if user.is_authenticated %}
              {{user}}
            {% else %}
              Login
            {% endif %}
            <img style="width:48px;height:48px" class="object-fit-fill rounded-circle img-thumbnail" src="
              {% if user.is_authenticated %}
                {% static user.profile.propic %}
              {% else %}
                {% static 'unknown_user.png' %}
              {% endif %}
            ">
          </a>
        </div>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}
  
</body>

</html>